.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  background-color: #f7b85b;
  height: 100px;
}

.cart-div {
  float: right;
  margin: 25px;
  position: relative;
}

.cart-div img {
  width: 30px;
}

.cart-div span {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #e44c10;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 17px;
  color: #fff;
}

.btn {
  background-color: #e44c10;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.product-container {
  display: flex;
  gap: 20px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
